<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="bundle.js"></script>
    <title>Editor</title>

</head>
<body>
    <div >
        <div contenteditable="true" class="container" id="editor" tabindex="999">
            <ul>
                <li>3123</li>
                <ul>
                    <li>3333</li>
                </ul>
                <li>342321</li>
            </ul>
        </div>
    </div>
</body>
</html>